---
title: Now what?
date: 2021-03-08
---

What are the next things to do?

## Remove sapper

Sapper won't be continued, they're all excited about sveltekit instead.

https://svelte.dev/blog/sveltekit-beta
